<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Selenium_Training.S18_Lesson136_day1"/>
      <class name="Selenium_Training.S18_Lesson136_day2"/>
      <class name="Selenium_Training.S18_Lesson136_day3"/>
      <class name="Selenium_Training.S18_Lesson136_day4"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
